{% if site.analytics.provider and page.analytics != false %}
{% case site.analytics.provider %}
{% when "google" %}
  {% assign tracking_id = site.analytics.google.tracking_id %}
  {% if tracking_id %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ tracking_id }}');
    </script>
  {% endif %}
{% when "google-universal" %}
  {% include /analytics-providers/google-universal.html %}
{% when "custom" %}
  {% include /analytics-providers/custom.html %}
{% endcase %}
{% endif %}
